.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.App .container {
  width: 750px;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.App h1 a {
  color: initial;
  text-decoration: none;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline;
}

.menu li:after {
  content: " | ";
}

.menu li:last-child:after {
  content: "";
}

a {
  color: blue;
}

.menu li.active a,
a:hover {
  color: red;
}

.text-center {
  text-align: center;
}

footer {
  font-style: italic;
}

@media screen and (max-width: 749px) {
  .App .container {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
}
